* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(237,87,87);
    background: linear-gradient(180deg, rgba(237,87,87,1) 0%, rgba(252,176,69,1) 100%);
    background-image: url;
}

h3 {
    color: rgb(0, 44, 155);
}

#container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: rgb(255, 236, 194);
    width: 400px;
    height: 450px;
    border-radius: 20px;
    overflow-y: auto;
    box-shadow: 10px 10px 0px rgb(26, 26, 26);
}

#add_task {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

input[type="text"] {
    background: #ffffff;;
    border: 1px solid #df912b;;
    outline: none;
    height: 35px;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}

#add {
    position: absolute;
    right: 0;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 0px;
    background: #df912b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.8s ease;

}

#add:hover {
    background: #b87826;
}

.checkbox {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid #686868;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.8s ease;
}

.checkbox:hover {
    border-color: #df912b;
    transform: scale(0.90);
}

.checked {
    background-color: #df912b;
    border: none;
}


.task {
    position: relative;
    margin-top: 15px;
    display: flex;
    color: #686868;
    align-items: center;
    width: 100%;
}

.task p {
    margin-left: 10px;
}

#taskList {
    overflow-y: auto;
    /* Enables vertical scrolling */
}

.delete {
    width: 25px;
    height: 25px;
    border: 1px solid #686868;
    background: none;
    border-radius: 50%;
    color: #686868;
    position: absolute;
    right: 0px;
    cursor: pointer;
    transition: all 0.8s ease;
}

.delete:hover {
    border-color: red;
    color: red;
    transform: scale(0.90);
}